<h1>Productos</h1>

{{#if user}}
  <div class="user-card">
    <h3>¡Bienvenido {{user.first_name}}!</h3>
    <p>Nombre: {{user.first_name}} {{user.last_name}}</p>
    <p>Correo electrónico: {{user.email}}</p>
    <p>Rol: {{user.role}}</p>
    {{#if user.cart}}
    <p>Carrito: <span id="cart-id">{{user.cart}}</span></p>
    {{/if}}
  </div>
{{/if}}

<table>
  <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Thumbnails</th>
    <th>Código</th>
    <th>Stock</th>
    <th>Categoria</th>
    <th></th>
    <th></th>
  </thead>
  <tbody id="table-body">
  </tbody>
</table>

<div>
  <p>Página <span id="page-number"></span></p>
  <button id="previous" disabled> << </button>
  <button id="next" disabled> >> </button>
</div>

<script src="js/{{script}}.js"></script>