<h1>Detalles del producto {{product._id}}</h1>

<p>Nombre: {{product.title}}</p>
<p>Descripción: {{product.description}}</p>
<p>Precio: ${{product.price}}</p>
<p>Código: {{product.code}}</p>
<p>Stock: {{product.stock}}</p>

<button style="display: block; margin-bottom: 10px;">Agregar al carrito</button>

<a href="http://localhost:8080/products">Volver a productos</a>